%div{ data: { controller: 'datatables', datatables: { order_value: [1, 'asc']} } }
  %table.table.table-sm.table-stripped.border{ data: { datatables_target: 'table'} }
    %thead
      %th Plant
      %th Year
      %th Generation (MWh)
      %th Fuel Type Name (Code)
      - if @grid.communities.exists?(pce_eligible: true)
        %th Avg. PCE Fuel Price ($/MWh)
      %th Quantity Consumed for Electricity (MMBtu)
      %th Quantity Consumed for Electric Generation (Physical Unit)
      %th Source
    %tbody
      - @grid.yearly_generations.includes(:plant).each do |generation|
        %tr
          %td= generation.plant.name
          %td= generation.year
          %td= generation.generation_mwh
          %td= "#{generation.fuel_type_name} (#{generation.fuel_type_code})"
          - if @grid.communities.exists?(pce_eligible: true)
            %td= generation.avg_pce_fuel_price
          %td= generation.quantity_consumed_for_electricity_mmbtu
          %td= "#{generation.quantity_consumed_in_physical_units_for_electric_generation} #{generation.physical_unit_label}"
          %td= generation.source