- id_prefix    = panel[:prefix]
- frame_id     = "#{id_prefix}_frame"
- search_param = :"q_#{id_prefix}"
- alpha_param  = :"alpha_#{id_prefix}"
- param_key    = panel[:key]

= turbo_frame_tag frame_id, class: "d-flex flex-column h-100" do
  .p-3.border-bottom.bg-light
    = render 'searches/advanced/search_input', 
              url: search_advanced_path,
              name: search_param, 
              frame: frame_id, 
              placeholder: "Find #{panel[:name]}..."

  .d-flex.flex-grow-1.overflow-hidden.facet-list-container
    -# Scrollable Checkboxes
    .flex-grow-1.overflow-auto.p-3{ id: "#{id_prefix}_list_container" }
      - if panel[:items].any?
        - selected_ids = Array(params[param_key]).map(&:to_s)
        
        - panel[:items].each do |item|
          - val = panel[:val].call(item).to_s
          - lbl = panel[:lbl].call(item)
          
          .form-check.mb-2
            -# Linking to 'filter-form' ensures 'autoSubmit' catches the change
            = check_box_tag "#{param_key}[]", val, selected_ids.include?(val), 
                            id: "#{id_prefix}_#{val}", 
                            class: 'form-check-input', 
                            form: 'filter-form'
            = label_tag "#{id_prefix}_#{val}", lbl, class: 'form-check-label small'

        - if panel[:pagy].pages > 1
          .mt-3.small.d-flex.justify-content-center
            != pagy_bootstrap_nav(panel[:pagy], link_extra: "data-turbo-frame='#{frame_id}'")
      
      - else
        .text-center.mt-5.small.text-muted No results found.

    -# TODO: Broken FIX
    -# Alphabet Sidebar: Scoped to this frame so it doesn't reload the whole page
    .d-flex.flex-column.align-items-center.bg-light.border-start.overflow-auto.alphabet-sidebar{ style: "width: 35px;" }
      = link_to "ALL", search_advanced_path(params.permit!.merge(alpha_param => nil, search_param => nil, expanded: panel[:id])), 
                class: "fw-bold text-decoration-none text-muted py-1 small", 
                data: { turbo_frame: frame_id }
      
      - ('A'..'Z').each do |letter|
        = link_to letter, search_advanced_path(params.permit!.merge(alpha_param => letter, expanded: panel[:id])), 
                  class: "alphabet-link fw-bold text-decoration-none text-muted py-0 small", 
                  data: { turbo_frame: frame_id }

  - current_page_ids = panel[:items].map { |i| panel[:val].call(i).to_s }
  - selected_ids = Array(params[param_key]).map(&:to_s)
  - (selected_ids - current_page_ids).each do |hidden_val|
    = hidden_field_tag "#{param_key}[]", hidden_val, form: 'filter-form', id: "hidden_#{param_key}_#{hidden_val}"