= form_with url: search_advanced_path, method: :get, id: 'filter-form', class: 'd-none', 
    data: { turbo_action: "advance" } do |f|
  
  -# Dedicated trackers for high-level state
  = hidden_field_tag :q, params[:q]
  = hidden_field_tag :expanded, params[:expanded], data: { search_panels_target: "tracker" }
  
  -# Only loop through params that AREN'T handled by the facet checkboxes
  - facet_params = Community.advanced_search_facets.map { |f| f[:param].to_s }
  
  - params.each do |key, val|
    - next if %w[q expanded controller action only_facet utf8 page].include?(key)
    -# Don't duplicate facet arrays that are already handled by checkboxes
    - next if facet_params.include?(key.to_s.delete_suffix('[]')) 
    - next if val.blank?

    - if val.is_a?(Array)
      - val.each do |v|
        = hidden_field_tag "#{key.to_s.delete_suffix('[]')}[]", v
    - else
      = hidden_field_tag key, val