- tab = 'general'
- links = [ { title: 'Communities', anchor: '#communities', icon: 'map' }]

= turbo_frame_tag "grid_tab_content" do

  = render 'shared/tab_nav', links: links
  
  .scrollspy-container{ data: { controller: "scrollspy", bs_spy: "scroll", bs_target: "#jump-nav", bs_smooth_scroll: "true" }, tabindex: "0" }

    #communities.scroll-section.mb-5
      = render 'shared/section_header', 
        icon: 'globe', 
        title: 'Communities', 
        description: 'Location and regional associations',
        anchor: '#communities'

      = render "grids/#{tab}/communities"