- content_for :title, "Grid - #{@grid.name}"

/ --- Tool Bar
.sticky-top.bg-light.p-1
  .row.align-items-center.gx-0
    .col.d-flex.align-items-center.text-truncate.align-middle.gap-2
      %i.bi.bi-grid-fill.text-primary.fs-4.ms-2
      %span.fw-bold.fs-3.text-truncate= @grid.name
    .col-auto
      .d-flex.align-items-center.flex-nowrap
        = render "shared/dropdown", collection: @grids
        = render 'grids/sections/quick_nav', grid: @grid

/ Wrap BOTH columns so buttons can call maps#showLayer in the same Stimulus scope
.row.gx-0{
  data: mapbox_api_data({
    maps_default_layer_id_value: "layer-communities" # must match %input.form-check-input#layer-id
  })
}
  / LEFT: Map
  .col-md-5
    .d-flex.flex-column.position-sticky{ style: "top: 50px; height: calc(100vh - 50px);" }
      .flex-grow-1.d-flex.flex-column#mapbox-area
        / --- Floating controls (top-right, inside map)
        .position-absolute.top-0.end-0.bg-white.border.rounded-3.shadow-sm.m-2.p-3{ style: "z-index:5;" }
          .fw-semibold.small.mb-2.text-center.border-bottom.pb-1 Select a Map Layer

          / Map Layer: Communities (default ON), uses default colors because of async
          .form-check.mb-1
            %input.form-check-input#layer-communities{
              type: "checkbox",
              data: {
                action: "change->maps#toggleLayer",
                color: "#EE4B2B",
                url: community_locations_grid_maps_path(@grid),
                fit: true
              }
            }
            %label.form-check-label.small{ for: "layer-communities" } Communities

          / Map Layer: Local Service Area
          - if @grid.show_service_area_geoms?
            .form-check.mb-1
              %input.form-check-input#layer-service-areas{
                type: "checkbox",
                data: {
                  action: "change->maps#toggleLayer",
                  url: service_area_geoms_grid_maps_path(@grid),
                  color: "#E74C3C",
                  fit: true
                }
              }
              %label.form-check-label.small{ for: "layer-service-areas" } Service Areas

          / Map Layer: Plants
          - if @grid.show_plants?
            .form-check.mb-1
              %input.form-check-input#layer-plants{
                type: "checkbox",
                data: {
                  action: "change->maps#toggleLayer",
                  url: plants_grid_maps_path(@grid),
                  color: "#088",
                  fit: true
                }
              }
              %label.form-check-label.small{ for: "layer-plants" } Plants

        / --- Map fills remaining height
        .flex-grow-1.position-relative
          .h-100{ data: { maps_target: "map" }}

  / RIGHT: main content 
  .col-md-7
    .text-center

    - section_order = []
    - section_order << 'electricity'  if @grid.show_electricity_section?
    - section_order << 'communities'  if @grid.show_communities_section?

    - section_order.each do |section|
      - section_id = "#{section.parameterize}-section"

      / Anchor offset target (for the quick link buttons to show the header for sections)
      %div{ id: section.parameterize, class: "anchor-offset" }

      %button.collapse-btn.border-0.mb-1{ 
        id: section.parameterize,
        type: 'button', 
        data: { bs_toggle: 'collapse', bs_target: "##{section_id}" }, 
        aria: { expanded: 'true', controls: section_id }
      }
        %i.bi.bi-chevron-down.ms-2.arrow-icon
        %h3.m-0= section.titleize

      .collapse.show.p-1{ id: section_id }
        = render "grids/sections/#{section}", grid: @grid 
      
%hr.my-0
