- res_rate = @community.electric_rates.latest_residential
- com_rate = @community.electric_rates.latest_commercial
- ind_rate = @community.electric_rates.latest_industrial

.d-flex.align-items-center.mb-3
  %i.bi.bi-coin.me-2.fs-4
  %h4#rates.mb-0.me-3.py-3.anchor-offset Rates
  %hr.flex-grow-1.mt-1.mb-0

.row.g-3
  - if res_rate
    .col-12.col-md-6.col-lg-4
      .d-flex.h-100
        .d-flex.flex-grow-1.align-items-center.bg-body-secondary.rounded.p-3
          %i.bi.bi-house-door-fill.text-primary.fs-3.me-3
          .flex-grow-1
            .text-muted
              = "#{@community.pce_eligible ? 'Residential PCE Rate' : 'Residential Rate'} (#{res_rate.year})"
            .fw-semibold= number_to_currency(res_rate.residential_rate, unit: "$") + "/kWh"

  - if com_rate
    .col-12.col-md-6.col-lg-4
      .d-flex.h-100
        .d-flex.flex-grow-1.align-items-center.bg-body-secondary.rounded.p-3
          %i.bi.bi-buildings-fill.text-success.fs-3.me-3
          .flex-grow-1
            .text-muted Commercial Rate (#{com_rate.year})
            .fw-semibold= number_to_currency(com_rate.commercial_rate, unit: "$") + "/kWh"

  - if ind_rate
    .col-12.col-md-6.col-lg-4
      .d-flex.h-100
        .d-flex.flex-grow-1.align-items-center.bg-body-secondary.rounded.p-3
          %i.bi.bi-building-fill-gear.text-primary-emphasis.fs-3.me-3
          .flex-grow-1
            .text-muted Industrial Rate (#{ind_rate.year})
            .fw-semibold= number_to_currency(ind_rate.industrial_rate, unit: "$") + "/kWh"