- parent_tab = 'fuel'

.d-flex.align-items-center.mb-3
  %i.bi.bi-fuel-pump.me-2.fs-4
  %h4.mb-0.me-3.py-3.anchor-offset Bulk Fuel Facilities
  %hr.flex-grow-1.mt-1.mb-0.mx-2

.mb-4
  = render "communities/#{parent_tab}/bulk_fuel_facilities/map_controls"
  = render "communities/#{parent_tab}/bulk_fuel_facilities/fuel_delivery"

- if @community.show_bulk_fuel_capacity_chart?
  .mb-5
    .p-3.border.rounded.bg-light.mb-3
      = render "communities/#{parent_tab}/bulk_fuel_facilities/fuel_capacity_chart"

.mb-3
  = render "communities/#{parent_tab}/bulk_fuel_facilities/bulk_fuel_data"