= turbo_frame_tag "community_tab_content" do
  - parent_tab = "fuel"
  
  .d-flex.align-items-center.mb-3
    %i.bi.bi-fuel-pump.me-2.fs-4
    %h4.mb-0.me-3.py-3.anchor-offset Fuel Prices
    %hr.flex-grow-1.mt-1.mb-0.mx-2
  
  .mb-5
    .p-3.border.rounded.bg-light.mb-3
      = render "communities/#{parent_tab}/fuel_prices/chart"
  
  .mb-3
    = render "communities/#{parent_tab}/fuel_prices/datatable"