- placeholder_datasets.each do |dataset|
  .card.mb-4.p-4
    %h4
      %i.bi.bi-database-fill
      = dataset[:name]
      %span.text-muted.small= "- #{dataset[:category]}"

    %p= dataset[:description]

    .mt-2
      - dataset[:tags].each do |tag|
        %span.badge.bg-secondary= tag

    .text-end.text-muted.small Last Updated: #{dataset[:last_updated]}