- parent_tab = 'electric_rates_sales'

.d-flex.align-items-center.mb-3
  %i.bi.bi-cash-coin.me-2.fs-4
  %h4.mb-0.me-3.py-3.anchor-offset Sales
  %hr.flex-grow-1.mt-1.mb-0

.mb-4
  = render "communities/#{parent_tab}/sales/summary"

- if @community.sales.with_sales.exists?
  .mb-5
    .p-3.border.rounded.bg-light.mb-3
      = render "communities/#{parent_tab}/sales/energy_sold"

- if @community.sales.with_any_breakdown_data.exists?
  .mb-5
    .p-3.border.rounded.bg-light.mb-3
      = render "communities/#{parent_tab}/sales/customer_breakdown"

.mb-3
  = render "communities/#{parent_tab}/sales/data"