- parent_tab = 'electric_rates_sales'

-# --- Section Body ---
.section-body.m-5.mt-3
  .mb-4
    = render "communities/#{parent_tab}/sales/summary"

  .row
    .col-12
      .p-4.border.rounded-3.bg-white.shadow-sm.mb-4

        - if @community.sales.with_sales.exists?
          .mb-5
            = render "communities/#{parent_tab}/sales/energy_sold"
      
        - if @community.sales.with_any_breakdown_data.exists?
          .mb-5.pt-4.border-top
            = render "communities/#{parent_tab}/sales/customer_breakdown"

        .pt-4.border-top
          = render "communities/#{parent_tab}/sales/data"
