-# locals: (icon:, title:, description:, anchor: nil, related_datasets:[])

.section-title-bar.bg-body-secondary.border-start.border-primary.border-5.p-3.mb-1.mb-md-3.mb-lg-4
  .d-flex.align-items-center
    -# Icon Container
    .bg-primary-subtle.rounded-circle.p-2.p-md-3.me-3.d-inline-flex.align-items-center.justify-content-center{ style: "flex-shrink: 0;" }
      %i.fs-3.text-primary.lh-1{ class: "bi bi-#{icon}" }

    -# Text Content
    %div
      %h3.h5.mb-0.text-uppercase.fw-bold.d-flex.align-items-center
        = title
        
        -# Share Button
        - if anchor.present?
          %button.btn.btn-link.p-0.ms-2{ data: { controller: "copy",
            action: "copy#copy",
            copy_url_value: "#{request.base_url}#{request.path}#{anchor}",
            copy_target: "button",
            copy_icon_original: "bi-link-45deg",
            copy_icon_success: "bi-check-lg",
            copy_active_class: "text-success",
            copy_original_class: "text-muted" } }
  
            %i.bi.bi-link-45deg.fs-4{ data: { copy_target: "icon" } }
      -# Description
      - if description.present?
        %small.text-muted= description

    -# Buttons Container
    .ms-auto.d-flex.flex-column.align-items-end.gap-2
      -# About Modal
      - if block_given?
        %div
          = yield
          
      -# View Datasets Button
      - if related_datasets.any?
        .d-block
          - if related_datasets.one?
            = link_to metadatum_path(related_datasets.first), data: { turbo_frame: "_top" }, class: "btn btn-sm btn-primary" do
              %i.bi.bi-database.me-1
              View Full Dataset
          - else
            .dropdown
              %button.btn.btn-sm.btn-primary.dropdown-toggle{ data: { bs_toggle: "dropdown" }, type: "button" }
                %i.bi.bi-database.me-1
                View Full Datasets
              %ul.dropdown-menu.dropdown-menu-end
                - related_datasets.each do |dataset|
                  %li
                    = link_to metadatum_path(dataset), data: { turbo_frame: "_top" }, class: "dropdown-item small" do
                      %i.bi.bi-file-earmark.me-2
                      #{dataset.titleize}
      