- parent_tab = 'power_generation'
- show_monthly_gen = @community.show_monthly_generation?
- show_yearly_gen = @community.show_yearly_generation?
- show_gen_tabs = show_monthly_gen || show_yearly_gen

.d-flex.align-items-center.mb-3
  %i.bi.bi-building-gear.me-2.fs-4
  %h4#generation.mb-0.me-2.py-3.anchor-offset Generation
  %hr.flex-grow-1.mt-1.mb-0.mx-2
  = render "communities/sections/#{parent_tab}/generation/about_modal"

.mb-3
  .d-flex.justify-content-between.align-items-center
    .nav.nav-tabs
      - if show_gen_tabs
        %li.nav-item
          = link_to "#gen-charts", class: "nav-link active", data: { bs_toggle: "tab" } do
            %i.bi.bi-graph-up.me-1
            Charts
            
      - if show_monthly_gen
        %li.nav-item
          = link_to "#monthly-gen-data", class: "nav-link", data: { bs_toggle: "tab" } do
            %i.bi.bi-table.me-1
            Monthly Data

      - if show_yearly_gen
        %li.nav-item
          = link_to "#yearly-gen-data", class: "nav-link", data: { bs_toggle: "tab" } do
            %i.bi.bi-table.me-1
            Yearly Data

  .tab-content.mt-3
    - if show_gen_tabs
      #gen-charts.tab-pane.fade.show.active
        - if show_monthly_gen
          = render "communities/sections/#{parent_tab}/generation/monthly"
  
        - if show_yearly_gen
          = render "communities/sections/#{parent_tab}/generation/yearly_chart"
      
    - if show_monthly_gen
      #monthly-gen-data.tab-pane.fade
        = render "communities/sections/#{parent_tab}/generation/monthly_data"

    - if show_yearly_gen
      #yearly-gen-data.tab-pane.fade
        = render "communities/sections/#{parent_tab}/generation/yearly_data"