.d-flex.align-items-center.bg-body-secondary.p-3.rounded.mb-3
  .grid-info
    %h5= grid_name.titleize
    %p
      %i.bi-geo-alt-fill.me-1
      = "#{community_name} is part of the "
      %strong= grid_name.titleize
      = " grid."
    %p.text-muted.small.mb-0 Data reflects the overall grid, which may serve one or multiple communities.
