- parent_tab = 'fuel'
- show_chart = @community.show_bulk_fuel_capacity_chart?
- active_tab = show_chart ? :chart : :data

.d-flex.align-items-center.mb-3
  %i.bi.bi-fuel-pump.me-2.fs-4
  %h4.mb-0.me-3.py-3 Bulk Fuel Facilities
  %hr.flex-grow-1.mt-1.mb-0

.mb-3
  = render "communities/tabs/#{parent_tab}/bulk_fuel_facilities/map_controls"
  = render "communities/tabs/#{parent_tab}/bulk_fuel_facilities/fuel_delivery"

  / Tabs
  .d-flex.align-items-center.mt-4
    .nav.nav-tabs
      - if show_chart
        %li.nav-item
          = link_to "#bulk-fuel-capacity-chart-wrapper", class: "nav-link #{'active' if active_tab == :chart}", data: { bs_toggle: "tab" } do
            %i.bi.bi-bar-chart-line-fill.me-1
            Bulk Fuel Capacity by Type

      %li.nav-item
        = link_to "#bulk-fuel-data-wrapper", class: "nav-link #{'active' if active_tab == :data}", data: { bs_toggle: "tab" } do
          %i.bi.bi-table.me-1
          Bulk Fuel Facility Data

  / Tab Content
  .tab-content.mt-3
    - if show_chart
      #bulk-fuel-capacity-chart-wrapper.tab-pane.fade{ class: ("show active" if active_tab == :chart) }
        = render "communities/tabs/#{parent_tab}/bulk_fuel_facilities/fuel_capacity_chart"

    #bulk-fuel-data-wrapper.tab-pane.fade{ class: ("show active" if active_tab == :data) }
      = render "communities/tabs/#{parent_tab}/bulk_fuel_facilities/bulk_fuel_data"