= render 'shared/about_modal', id: 'yearlyElectricRatesAboutModal', title: 'About Yearly Electric Rates Data' do
  .d-flex.mb-4
    = render 'shared/modal/about_this_calculation', title: "What is the Blended Rate?" do
      %p.mb-3
        The 
        %strong Blended Rate 
        represents the average cost per kWh across 
        %span.text-primary.fw-bold all consumer sectors 
        (Residential, Commercial, Industrial, etc.). 
      
      %p.mb-3
        This is calculated for 
        %strong each reporting entity 
        by dividing their total annual revenue by their total kWh sold. This provides a high-level view of the overall electric rate, regardless of individual sector rates.

      .bg-light.p-3.border.rounded.small.mb-0
        %ul.list-unstyled.mb-0
          %li
            .text-muted.mb-1 (Total Revenue from All Sectors) ÷ (Total kWh Sold to All Sectors) =
            %strong Result: 
            %span.text-primary.fw-bold Blended Rate per kWh
          
          %li.mt-3.pt-2.border-top
            %span.text-dark.fw-bold Example:
            .mt-1.text-muted
              $1,850,000 Total Revenue ÷ 10,000,000 Total kWh Sold =
            .mt-1
              %strong Result: 
              %span.text-primary.fw-bold $0.185 per kWh
  
  .d-flex.mb-4
    = render 'shared/modal/about_this_calculation', title: "PCE Communities" do
      %p.mb-3
        = "Residential rates in PCE communities are displayed as rates paid by residential customers"
        %strong after
        = "PCE subsidy. PCE subsidies are capped at 750kWh per residential meter per month, over which customers are charged unsubsidized rates. Qualified community facilities (streetlights, water/sewer utilities, etc) are also eligible for PCE subsidy. While individual facilities do not have a cap, the community as whole is limited to 70 kWh per resident. For example, the community facilities in a community of 100 residents could receive the PCE subsidy for up to 7,000 kWhs each month. Other non-residential sectors, such as commercial and government (including public schools), are not covered by PCE subsidies and pay full unsubsidized rates."
