.my-5.mx-3.mx-md-5.mt-3
  = render 'communities/sections/background/geography'

- if show_transportation?(@community)
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/background/transportation', transportation: @community.transportation
    
- if show_election_districts?(@community)
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/background/election_districts'

- if show_population?(@community)
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/background/population'
    
- if @community.show_climate?
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/background/climate'


