- if @community.name
  .mb-3
    = render 'communities/sections/background/geography'

- if @community.transportation
  .mb-3
    = render 'communities/sections/background/transportation', transportation: @community.transportation
    
- if @community.name
  .mb-3 
    = render 'communities/sections/background/election_districts'

- if @community.population
  .mb-3
    = render 'communities/sections/background/population_employment'

- if @community.population_age_sexes
  .mb-3
    = render 'communities/sections/background/population_age_chart'
    = render 'communities/sections/background/population_age_sex_datatable'
    = render 'communities/sections/background/population_gender_pie'

