- if show_utilities?(@community)
  .my-5.mx-3.mx-md-5.mt-3
    = render 'communities/sections/electricity/utilities'
- if show_rates?(@community)
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/electricity/rates'
- if show_production?(@community)
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/electricity/production'
- if show_capacity?(@community)
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/electricity/capacity'
- if show_sales_revenue_customers?(@community)
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/electricity/sales_revenue_customers'
