- content_for :quicknav do
  %ul.nav.flex-column
    %li.nav-item
      = link_to "Utilities", "#utilities", class: 'nav-link'
    %li.nav-item
      = link_to "Production", "#production", class: 'nav-link'
    %li.nav-item
      = link_to "Rates", "#rates", class: 'nav-link'

- if @community.grid&.monthly_generations&.exists? || @community.grid&.yearly_generations&.exists?
  .mb-3
    = render 'communities/sections/electricity/production'
- if @community.grid&.capacities&.exists?
  .mb-3
    = render 'communities/sections/electricity/grid_capacity'
- if @community.reporting_entity
  .mb-3
    = render 'communities/sections/electricity/utilities'
- if @community.electric_rates&.exists?
  .mb-3
    = render 'communities/sections/electricity/rates'
- if @community.reporting_entity&.sales&.exists?
  .mb-3 
    = render 'communities/sections/electricity/sales_revenue_customers'
