- if @community.show_utilities?
  .my-5.mx-3.mx-md-5.mt-3
    = render 'communities/sections/electricity/utilities'
- if @community.show_generation?
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/electricity/generation'
- if @community.show_capacity?
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/electricity/capacity'
- if @community.show_bulk_fuel_facilities?
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/electricity/bulk_fuel_facilities'
- if @community.show_rates?
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/electricity/rates'
- if @community.show_sales?
  .my-5.mx-3.mx-md-5
    = render 'communities/sections/electricity/sales'
