- if show_utilities?(@community)
  .m-5.mt-3
    = render 'communities/sections/electricity/utilities'
- if show_operators?(@community)
  .m-5
    = render 'communities/sections/electricity/operators'
- if show_rates?(@community)
  .m-5
    = render 'communities/sections/electricity/rates'
- if show_production?(@community)
  .m-5
    = render 'communities/sections/electricity/production'
- if show_capacity?(@community)
  .m-5
    = render 'communities/sections/electricity/capacity'
- if show_sales_revenue_customers?(@community)
  .m-5
    = render 'communities/sections/electricity/sales_revenue_customers'
