.container.mx-4
  .row.g-5.align-items-start
    - if @community.name
      .col-md-6.col-12= render 'communities/sections/electricity/utility', community: @community
    - if @community.name
      .col-md-6.col-12= render 'communities/sections/electricity/production', community: @community
    - if @community.name
      .col-md-6.col-12= render 'communities/sections/electricity/rates', community: @community
    - if @community.name
      .col-md-6.col-12= render 'communities/sections/electricity/fuel', community: @community
    - if @community.name
      .col-md-6.col-12= render 'communities/sections/electricity/sales_revenue_customers', community: @community