- if metadatum.dataset.present?
  %h3 Dataset
  %ul.list-group
    %li.list-group-item
      .mb-1
        = link_to metadatum.dataset.title.titleize, [metadatum, metadatum.dataset], class: 'fs-4'

      %div
        %strong Topics:
        = metadatum.dataset.topics.join(', ')

      %div
        %strong Published:
        = metadatum.dataset.publicationDate

      %span.badge.bg-primary= metadatum.dataset.format

      - metadatum.dataset.keywords.each do |tag|
        %span.badge.bg-secondary= tag