    
%h3 Datasets
%ul.list-group
  - metadatum.datasets.each do |dataset|
    %li.list-group-item
      .mb-1
        = link_to dataset.title.titleize, [metadatum, dataset], class: 'fs-4'

      %div
        %strong Topics:
        = dataset.topics.join(', ')
      
      %div
        %strong Published:
        = dataset.publicationDate

      %span.badge.bg-primary= dataset.format

      - dataset.keywords.each do |tag|
        %span.badge.bg-secondary= tag

