%div{ data: { controller: 'datatables', datatables: { order_value: [1, 'asc']} } }
  %table.table.table-sm.table-striped.border
    %thead
      %tr
        %th Plant
        %th Net Generation (MWh)
        %th Fuel Type Code
        %th Fuel Type Name
        %th Month
        %th Year
    %tbody
      - @community.monthly_generations.each do |generation|
        %tr
          %td= generation.plant.name
          %td= generation.net_generation_mwh
          %td= generation.fuel_type_code
          %td= generation.fuel_type_name
          %td= generation.month
          %td= generation.year