%table.table.table-stripped.border{ data: { controller: 'datatables', datatables: { order_value: [3, 'asc']} } }
  %thead
    %tr
      %th Net Generation (MWh)
      %th Fuel Type Code
      %th Fuel Type Name
      %th Month
      %th Year
  %tbody
    - @community.grid.monthly_generations.each do |generation|
      %tr
        %td= generation.net_generation_mwh
        %td= generation.fuel_type_code
        %td= generation.fuel_type_name
        %td= generation.month
        %td= generation.year