- stats = @community.grid.monthly_generations.generation_stats
- chart_title = "#{grid_name} Net Generation by Month (#{stats[:latest_year]})"
.row.justify-content-center.bg-light.p-3.rounded.shadow-sm.m-3
  .col-auto
    %i.bi-bar-chart-line-fill.mx-1
    %strong.mx-1 Average:
    %span.text-primary= "#{stats[:avg_generation]} MWh"

  .col-auto
    %i.bi-arrow-up-right-circle.mx-1
    %strong.mx-1 Max:
    %span.text-success= "#{stats[:max_generation]} MWh" 
    %small.text-muted= "(#{Date::MONTHNAMES[stats[:max_month]]})" 

  .col-auto
    %i.bi-arrow-down-right-circle.mx-1
    %strong.mx-1 Min:
    %span.text-danger= "#{stats[:min_generation]} MWh" 
    %small.text-muted= "(#{Date::MONTHNAMES[stats[:min_month]]})" 

  .col-auto
    %i.bi-calendar.mx-1
    %strong.mx-1 Year:
    %span.text-muted= stats[:latest_year]

// Chart view
= line_chart production_monthly_community_charts_path(@community), title: chart_title, xtitle: "Month", ytitle: "Net Generation", suffix: "MWh", download: {background: "#ffffff", filename: chart_title.parameterize, format: "png"}

// Tabular view
%div{ data: { controller: 'datatables', datatables: { order_value: [3, 'asc']} }}
  %table.table.table-stripped.border{ data: { datatables_target: 'table'} }
    %thead
      %tr
        %th Net Generation (MWh)
        %th Fuel Type
        %th Month
        %th Year
    %tbody
      - @community.grid.monthly_generations.each do |generation|
        %tr
          %td= generation.net_generation_mwh
          %td= generation.fuel_type
          %td= generation.month
          %td= generation.year