#quick-nav.m-1
  .dropdown
    %button.btn.btn-outline-secondary.dropdown-toggle.w-100{
      type: "button",
      id: "quickNavDropdown",
      "data-bs-toggle" => "dropdown",
      "aria-expanded" => "false"
    }
      Jump To
    %ul.dropdown-menu.w-100.p-1{ "aria-labelledby" => "quickNavDropdown" }
      // Electricity Section
      - if @grid.communities.exists?
        %li= nav_link "Communities", "#communities", parent_section: true
      - if @grid.show_electricity_section?
        %li= nav_link "Electricity", "#electricity", parent_section: true
      - if @grid.show_utilities?
        %li= nav_link "Utilities", "#utilities"
      - if @grid.show_production?
        %li= nav_link "Production", "#production"
      - if @grid.show_capacity?
        %li= nav_link "Capacity", "#capacity"