= render 'shared/about_this_data_modal', id: 'generationInfoModal', title: 'About Generation Data' do
  .d-flex.mb-4
    = render 'shared/modal/generation_sources', entity: @community
  .d-flex.mb-4
    = render 'shared/modal/net_vs_gross_generation'
  .d-flex.mb-4
    = render 'shared/modal/community_service_area'
  .d-flex
    = render 'shared/modal/ipp_generation'