= render 'shared/about_modal', id: 'generationAboutModal', title: 'About Generation Data' do
  .d-flex.mb-4
    = render 'shared/modal/power_generation_sources', entity: @community
  .d-flex.mb-4
    = render 'shared/modal/service_areas'
  .d-flex.mb-4
    = render 'shared/modal/data_reporting', entity: @community
  .d-flex.mb-4
    = render 'shared/modal/net_vs_gross_generation'
  .d-flex.mb-4
    = render 'shared/modal/ipp_generation'
    