.section-body.m-1.m-md-2.m-lg-4.mt-3
  .mb-4
    = render 'shared/map_buttons', buttons: @map_buttons
  .p-3.border.rounded-3.h-100.shadow-sm
    .row
      .col-12
        %table.table.table-sm.table-hover.align-middle.mb-0
          %tbody
            %tr
              %th.pe-3.text-muted.fw-semibold Land Area
              %td.fw-bold= "#{number_with_delimiter(@parent.land_area)}"
            %tr
              %th.pe-3.text-muted.fw-semibold Water Area
              %td.fw-bold= "#{number_with_delimiter(@parent.water_area)}"