.explorer-wrapper{ data: { controller: "search-panels", action: "change->search-panels#autoSubmit" } }
  = render 'searches/advanced/hidden_form'

  .container-xxl.mt-3
    .row.mb-3
      .col-12
        = link_to communities_path, class: 'text-decoration-none' do
          %i.bi.bi-arrow-left.me-2
          Back

  .container-xxl.mt-4
    .row.flex-nowrap.g-0
      .col-auto.main_nav_sidebar.p-3
        %h2.fw-bold.mb-1 Community Explorer
        %p.text-muted Filter communities by specific criteria.
        .mt-3
          = render 'searches/advanced/sidebar_nav'

      .col.main_results_area.ps-3
        .panel-container
          = render 'searches/advanced/panels'

        .results-view
          = turbo_frame_tag "results_frame" do
            = render 'searches/advanced/results'