- parent_tab = 'power_generation'

-# --- Section Header ---
= render 'shared/section_header',
  icon: 'lightning-fill',
  title: 'Capacity',
  description: 'Installed infrastructure and maximum power output' do
  = render "communities/#{parent_tab}/capacity/about_modal"

-# --- Section Body ---
.section-body.mx-md-5.mx-3
  .row
    .col-12
      -# Main Chart Card
      .p-4.border.rounded-3.bg-white.shadow-sm.mb-4
        .mb-4
          = render "communities/#{parent_tab}/capacity/capacity_chart"
        
        -# Data Table Section
        .pt-4.border-top
          .d-flex.align-items-center.mb-3
            %i.bi.bi-table.me-2.text-primary
            %h6.mb-0.fw-bold Capacity Data
          = render "communities/#{parent_tab}/capacity/capacity_data"