%h4 Election Districts

= render "communities/sections/background/election_districts/district_overview"

/ Navigation Tabs
.d-flex.justify-content-between.align-items-center.mt-4
  .nav.nav-tabs{ data: { controller: 'maps' } }
    %li.nav-item
      = link_to "House Districts Map", "#house", class: "nav-link active", data: { bs_toggle: "tab", map_tab: true}
    %li.nav-item
      = link_to "Senate Districts Map", "#senate", class: "nav-link", data: { bs_toggle: "tab", map_tab: true}
    %li.nav-item 
      = link_to "District Data", "#districtData", class: "nav-link", data: { bs_toggle: "tab" }

/ Tab Content
.tab-content.mt-3
  #house.tab-pane.fade.show.active
    = area_map house_districts_community_maps_path(@community), tooltips: {hover: false}, controls: true
  #senate.tab-pane.fade
    = area_map senate_districts_community_maps_path(@community), tooltips: {hover: false}, controls: true

  #districtData.tab-pane.fade
    = render "communities/sections/background/election_districts/district_data"