.d-flex.align-items-center.mb-3
  %i.bi.bi-globe.me-2.fs-4
  %h4#geography.mb-0.me-3.py-3.anchor-offset Geography
  %hr.flex-grow-1.mt-1.mb-0

.row
  %table.table.table-hover
    %tbody
      - if @community.name.present?
        %tr
          %th.pe-3 Community
          %td= @community.name
      - if @community.borough.present?
        %tr
          %th.pe-3 Borough
          %td= @community.borough.name

      - if @community.regional_corporation.present?
        %tr
          %th.pe-3 Regional Corporation
          %td= @community.regional_corporation.name

      - if @community.village_corporation.present?
        %tr
          %th.pe-3 Village Corporation
          %td= @community.village_corporation

      - if @community.grid.present?
        %tr
          %th.pe-3 Grid
          %td= @community.grid.name.titleize
      %tr
        %th.pe-3 Latitude, Longitude
        %td
          = @community.latitude
          ,
          = @community.longitude
