%h4.mb-3 Geography

.row
  .col-md-4
    #communityLocationMapWrapper.tab-pane.fade.show.active{
      data: {
        controller: "maps",
        maps_token_value: ENV['MAPBOX_API_TOKEN'],
        maps_map_center_value: [@community.longitude, @community.latitude],
        maps_markers_value: [[@community.longitude, @community.latitude]],
        maps_marker_tooltip_title_value: @community.name
      }
    }
      .map-sm.rounded{ data: { maps_target: "map" } }

  .col-md-8
    %table.table.table-hover
      %tbody
        - if @community.name.present?
          %tr
            %th.pe-3 Community
            %td= @community.name
        - if @community.borough.present?
          %tr
            %th.pe-3 Borough
            %td= @community.borough.name

        - if @community.regional_corporation.present?
          %tr
            %th.pe-3 Regional Corporation
            %td= @community.regional_corporation.name

        - if @community.grid.present?
          %tr
            %th.pe-3 Grid
            %td= @community.grid.name.titleize
        %tr
          %th.pe-3 Latitude, Longitude
          %td
            = @community.latitude
            ,
            = @community.longitude
