.d-flex.align-items-center.mb-3
  %i.bi.bi-thermometer-snow.me-2.fs-4
  %h4#income.mb-0.me-3.py-3.anchor-offset Income
  %hr.flex-grow-1.mt-1.mb-0

- hh_income_bracket_title = "#{@community.name} - Household Income Brackets"

= column_chart household_income_brackets_community_charts_path(@community),
  suffix:   '%',
  title:    hh_income_bracket_title,
  min:      0,
  max:      100,
  stacked:  true,
  xtitle:   "Year",
  round:    2,
  zeros:    true,
  ytitle:   "Household Income Brackets",
  download: { filename: hh_income_bracket_title.parameterize },
  library: { plugins: { legend: { display:true, position: 'right', reverse: true }, tooltip: { mode: 'index', intersect: false, reverse: true } }}

- income_title = "#{@community.name} - Income"

= line_chart income_community_charts_path(@community),
  prefix:   '$',
  title:    income_title,
  xtitle:   "Year",
  ytitle:   "Income (USD)",
  download: { filename: income_title.parameterize }

- poverty_rate_title = "#{@community.name} - Poverty Rate"

= line_chart poverty_rate_community_charts_path(@community),
  suffix:   '%',
  title:    poverty_rate_title,
  xtitle:   "Year",
  ytitle:   "Poverty Rate",
  download: { filename: poverty_rate_title.parameterize }