- employment_present = @community.population.present?
- age_data_present = @community.population_age_sexes.present?

.d-flex.align-items-center.mb-3
  %i.bi.bi-people-fill.me-2.fs-4
  %h4#population.mb-0.me-3.py-3.anchor-offset Population
  %hr.flex-grow-1.mt-1.mb-0
%ul.nav.nav-tabs
  - if employment_present
    %li.nav-item
      = link_to "#employment-chart", class: "nav-link#{' active' if employment_present}", data: { bs_toggle: "tab" }, role: "tab" do
        %i.bi.bi-graph-up.me-1
        Employment Status Chart

  - if age_data_present
    %li.nav-item
      = link_to "#age-chart", class: "nav-link#{' active' if !employment_present && age_data_present}", data: { bs_toggle: "tab" }, role: "tab" do
        %i.bi.bi-bar-chart-steps.me-1
        Age Distribution Chart

    %li.nav-item
      = link_to "#gender-pie", class: "nav-link", data: { bs_toggle: "tab" }, role: "tab" do
        %i.bi.bi-pie-chart.me-1
        Gender Distribution Chart
    %li.nav-item
      = link_to "#age-sex-table", class: "nav-link", data: { bs_toggle: "tab" }, role: "tab" do
        %i.bi.bi-table.me-1
        Population, Age & Sex Data
.tab-content.mt-3
  - if employment_present
    .tab-pane.fade#employment-chart{ class: "tab-pane fade#{' show active' if employment_present}", role: "tabpanel" }
      = render 'communities/sections/background/population/population_employment'

  - if age_data_present
    .tab-pane.fade#age-chart{ class: "tab-pane fade#{' show active' if !employment_present && age_data_present}", role: "tabpanel" }
      = render 'communities/sections/background/population/population_age_chart'

    .tab-pane.fade#age-sex-table{ role: "tabpanel" }
      = render 'communities/sections/background/population/population_age_sex_datatable'

    .tab-pane.fade#gender-pie{ role: "tabpanel" }
      = render 'communities/sections/background/population/population_gender_pie'