- cache [entity, "power-generation-sources-v1"] do
  - service_area_info = service_area_text(entity)
  - entity_name = entity.respond_to?(:display_type) ? entity.display_type.downcase : entity.class.model_name.human.downcase
  
  %i.bi.bi-geo-alt.text-primary.fs-4
  .flex-grow-1.ms-3
    %h6.fw-bold.mb-1 Power Generation Sources
    %p.text-muted.mb-1
      This section displays data from energy assets within the 
      %strong= service_area_info[:label]
      = "that #{service_area_info[:count] == 1 ? 'serves' : 'serve'} this #{entity_name}."
      
    - if entity.respond_to?(:grid) && entity.grid
      = link_to grid_path(entity.grid, anchor: 'capacity'),
        class: "small text-decoration-none icon-link icon-link-hover d-inline-flex align-items-baseline gap-1",
        target: "_blank",
        rel: "noopener",
        data: { turbo_frame: "_top" } do
        %span Explore Grid Data
        %i.bi.bi-arrow-right