.text-center.mb-4
  %h5.text-muted.mb-1 Total #{@community.name} Population as of #{@community.population.year}:
  %h2.text-primary= number_with_delimiter(@community.population.total_population)

= line_chart population_employment_community_charts_path(@community),
    title: "Employment and Unemployment Insurance Claimants Over Time",
    xtitle: "Year",
    ytitle: "Residents",
    thousands: ",",
    colors: ["#1f77b4", "#ff7f0e"],
    legend: true,
    empty: "No Employment Data Available",
    loading: "Empolyment Data Loading...",
    download: {background: "#ffffff", filename: "#{@community.name}_monthly_production_chart", format: "png"}

