%div{ data: { controller: 'datatables', datatables: { order_value: [5, 'asc'], scroll_x: true }, datatables_title_value:   "Fuel Prices Table"}}
  %table.table.table-sm.table-striped.border
    %caption.text-center.fw-bold.fs-5{ style: "caption-side: top; margin-bottom: .75rem;" }
      Fuel Prices Table
    %thead
      %tr
        %th FIPS
        %th Fuel Type
        %th Price Type
        %th Source
        %th Season
        %th Year
        %th Price (USD)
    %tbody
      - @community.fuel_prices.order(:reporting_year, :reporting_season).each do |fp|
        %tr
          %td= fp.community_fips_code
          %td= fp.fuel_type.humanize
          %td= fp.price_type.humanize
          %td= fp.source
          %td= fp.reporting_season
          %td= fp.reporting_year
          %td= number_to_currency(fp.price, unit: "$", precision: 2)
