.d-flex.align-items-center.mb-3
  %i.bi.bi-fuel-pump.me-2.fs-4
  %h4#bulk-fuel-facilities.mb-0.me-3.py-3 Bulk Fuel Facilities
  %hr.flex-grow-1.mt-1.mb-0
.mb-3
  = render 'communities/sections/electricity/bulk_fuel_facilities/map_controls'
  = render 'communities/sections/electricity/bulk_fuel_facilities/fuel_delivery'
  / Tabs
  .d-flex.align-items-center.mt-4
    .nav.nav-tabs
      %li.nav-item
        = link_to "#bulk-fuel-capacity-chart-wrapper", class: "nav-link active", data: { bs_toggle: "tab" } do
          %i.bi.bi-table.me-1
          Bulk Fuel Capacity by Type

      %li.nav-item
        = link_to "#bulk-fuel-data-wrapper", class: "nav-link", data: { bs_toggle: "tab" } do
          %i.bi.bi-table.me-1
          Bulk Fuel Facility Data

  / Tab Content
  .tab-content.mt-3
    #bulk-fuel-capacity-chart-wrapper.tab-pane.fade.show.active
      = render 'communities/sections/electricity/bulk_fuel_facilities/fuel_capacity_chart'

    #bulk-fuel-data-wrapper.tab-pane.fade
      = render 'communities/sections/electricity/bulk_fuel_facilities/bulk_fuel_data'