/- stats = Capacity.capacity_stats_for(@community.grid)

.d-flex.align-items-center.mb-3
  %i.bi.bi-lightning-fill.me-2.fs-4
  %h4#capacity.mb-0.me-3.py-3 Capacity
  %hr.flex-grow-1.mt-1.mb-0
.mb-3
  = render 'communities/shared/plant_disclaimer', anchor: 'capacity'
  /= render 'communities/sections/electricity/capacity/capacity_stats', stats: stats

  / Tabs
  .d-flex.align-items-center.mt-4
    .nav.nav-tabs
      %li.nav-item
        = link_to "#capacity-chart-wrapper", class: "nav-link active", data: { bs_toggle: "tab" } do
          %i.bi.bi-pie-chart.me-1
          Capacity Chart
      %li.nav-item
        = link_to "#capacity-data-wrapper", class: "nav-link", data: { bs_toggle: "tab" } do
          %i.bi.bi-table.me-1
          Capacity Data

  / Tab Content
  .tab-content.mt-3
    #capacity-chart-wrapper.tab-pane.fade.show.active
      = render 'communities/sections/electricity/capacity/capacity_chart'
    #capacity-data-wrapper.tab-pane.fade
      = render 'communities/sections/electricity/capacity/capacity_data'