- grid_name = @community.grid.name.titleize
- latest_year = @community.grid.capacities.maximum(:year)
- total_capacity = @community.grid.capacities.sum(:capacity_mw).round(2)
- chart_title = "#{grid_name} Capacity by Fuel Type (#{latest_year})"

.card
  %h4.card-header Grid Capacity
  .card-body.p-3
    .d-flex.align-items-center.justify-content-between.bg-light.p-3.rounded.shadow-sm.mb-3
      .grid-info
        %h5.mb-1= grid_name
        %p.text-muted.small 
          %i.bi-geo-alt-fill.me-1
          = @community.name 
          is part of the 
          %strong= grid_name
          grid.
      .grid-meta.text-end
        %h5.mb-0.text-dark.fw-bold
          %i.bi-bar-chart-line-fill.me-1
          Total Capacity: #{total_capacity} MW
        %p.text-muted.small
          Data Year: #{latest_year}

    // Chart View Section
    .row.mt-4
      .col-md-6
        = column_chart capacity_yearly_community_charts_path(community_id: @community.id), title: chart_title, xtitle: "Fuel Type", ytitle: "Capacity", suffix: "MW", download: { background: "#ffffff", filename: chart_title, format: "png" }

      .col-md-6
        = pie_chart capacity_yearly_community_charts_path(community_id: @community.id), title: chart_title, suffix: "MW", donut: true, download: { background: "#ffffff", filename: chart_title, format: "png" }, library: { plugins: { legend: { title: { display: true, text: "Fuel Type"},display: true, position: 'right' } } }

    // Tabular Data View Section
    .mt-4
      %h5.mb-2 Capacity Breakdown by Fuel Type (#{latest_year})
      %div{ data: { controller: 'datatables', datatables: { order_value: [1, 'desc'] } }}
        %table.table.table-striped.border{ data: { datatables_target: 'table' } }
          %thead
            %tr
              %th Fuel Type
              %th Capacity (MW)
              %th Year
          %tbody
            - @community.grid.capacities.where(year: latest_year).each do |capacity|
              %tr
                %td= capacity.fuel_type
                %td= capacity.capacity_mw
                %td= capacity.year