.d-flex.align-items-center.mb-3
  %i.bi.bi-cash-coin.me-2.fs-4
  %h4.mb-0.me-3 Sales, Revenue & Customers
  %hr.flex-grow-1.mt-1.mb-0

- latest_sale = @community.reporting_entity.latest_sale
- latest_year = latest_sale.year
= render "communities/sections/electricity/sales/summary", latest_sale: latest_sale, latest_year: latest_year
.mb-3
  .d-flex.justify-content-between.align-items-center
    .nav.nav-tabs
      %li.nav-item
        = link_to "Average Rates", "#average_rates",
          class: "nav-link active",
          data: { bs_toggle: "tab" }
      - if latest_sale&.has_any_customer_type_data?
        %li.nav-item
          = link_to "By Customer Type", "#by-customer-type",
            class: "nav-link",
            data: { bs_toggle: "tab" }
      %li.nav-item
        = link_to "Sales, Revenue & Customers Data", "#sales-data",
          class: "nav-link",
          data: { bs_toggle: "tab" }

.tab-content
  #average_rates.tab-pane.fade.show.active
    = render "communities/sections/electricity/sales/average_rates"
  #by-customer-type.tab-pane.fade
    = render "communities/sections/electricity/sales/by_customer_type", latest_sale: latest_sale, latest_year: latest_year
  #sales-data.tab-pane.fade
    = render "communities/sections/electricity/sales/data"