- letters = ('A'..'Z').to_a

.text-center.mb-4.mt-4
  = link_to 'All', communities_path(params.permit!.to_h.except(:letter)),
    class: "btn btn-sm #{'btn-secondary' unless letters.include?(params[:letter])} btn-outline-secondary"

  - letters.each do |ch|
    - active = (params[:letter] == ch)
    = link_to ch, communities_path(params.permit!.to_h.merge(letter: ch)),
      class: "btn btn-sm #{active ? 'btn-secondary' : 'btn-outline-secondary'}"
/ Community list
= render 'communities_list_frame', communities: communities

/ Empty state
- if communities.blank?
  %p.text-muted.text-center.mt-4 No communities found.
