- letters = ('A'..'Z').to_a

.text-center.mb-4.mt-4
  = link_to 'All', communities_path(@search_params.except(:letter)),
    class: "btn btn-sm #{'btn-secondary text-white' unless letters.include?(@search_params[:letter])} btn-outline-secondary text-dark"

  - letters.each do |ch|
    - active = (@search_params[:letter] == ch)
    = link_to ch, communities_path(@search_params.merge(letter: ch)),
      class: "btn btn-sm #{active ? 'btn-secondary text-white' : 'btn-outline-secondary text-dark'}"
/ Community list
= render 'communities_list_frame', communities: communities

/ Empty state
- if communities.blank?
  %p.text-secondary.text-center.mt-4 No communities found.
