.d-flex.flex-column.position-sticky{ style: "top: 60px; height: calc(100vh - 60px);" }
  .flex-grow-1.d-flex.flex-column#mapbox-area
    .d-flex.align-items-center
      / --- Floating controls ---
      .position-absolute.top-0.end-0.bg-white.border.rounded-3.shadow-sm.m-2.p-3{ style: "z-index:5;" }
        .fw-semibold.small.mb-2.text-center.border-bottom.pb-1 Select a Map Layer
        
        / Map Layer: Local Service Area
        = map_layer_checkbox(id: 'service-area-local', label: 'Local Service Area', path_args: [:service_area_geom, @community, :maps]) if @community.local_service_area?
        
        / Map Layer: Utility Service Area
        = map_layer_checkbox(id: 'service-area-utility', label: 'Utility Service Area', path_args: [:service_area, @community, :maps]) if @community.service_areas?
        
        / Map Layer: House Districts
        = map_layer_checkbox(id: 'house', label: 'House Districts', path_args: [:house_districts, @community, :maps]) if @community.house_districts? 
        
        / Map Layer: Senate Districts
        = map_layer_checkbox(id: 'senate', label: 'Senate Districts', path_args: [:senate_districts, @community, :maps]) if @community.senate_districts?
        
        / Map Layer: Plants
        = map_layer_checkbox(id: 'plants', label: 'Power Plants', path_args: [:plants, @community, :maps]) if @community.plants?
        
        / Map Layer: Bulk Fuel Facilites
        = map_layer_checkbox(id: 'bulk-fuel-facilities', label: 'Bulk Fuel Facilities', path_args: [:bulk_fuel_facilities, @community, :maps]) if @community.bulk_fuel_facilities?

    .flex-grow-1.position-relative
      .h-100{ data: { maps_target: "map" } }
