-# fit right under navs and have the height from botton of navs to botton of browser
.d-flex.flex-column.h-100
  .flex-grow-1.position-relative#mapbox-area{ data: { map_target: "container" } }
    .position-absolute.top-0.start-0.m-2{ style: "z-index: 5;" }
      %button.btn.btn-white.border.shadow-sm.fw-semibold.small{ data: { action: "click->maps#toggleExpand" } }
        %i.bi.bi-arrows-fullscreen.me-1
        Expand

    .position-absolute.top-0.end-0.bg-white.border.rounded-3.shadow-sm.m-2.p-3{ style: "z-index: 5;" }
      .fw-semibold.small.mb-2.text-center.border-bottom.pb-1 Select a Map Layer

      / Map Layer: Local Service Area
      = map_layer_checkbox(id: 'service-area-geom', label: 'Local Service Area', path_args: [:service_area_geom, @community, :maps]) if @community.local_service_area?
      / Map Layer: Utility Service Area
      = map_layer_checkbox(id: 'service-area', label: 'Utility Service Area', path_args: [:service_area, @community, :maps]) if @community.service_areas?
      / Map Layer: House Districts
      = map_layer_checkbox(id: 'house-districts', label: 'House Districts', path_args: [:house_districts, @community, :maps]) if @community.house_districts?
      / Map Layer: Senate Districts
      = map_layer_checkbox(id: 'senate-districts', label: 'Senate Districts', path_args: [:senate_districts, @community, :maps]) if @community.senate_districts?
      / Map Layer: Plants
      = map_layer_checkbox(id: 'plant-points', label: 'Power Plants', path_args: [:plants, @community, :maps]) if @community.plants?
      / Map Layer: Bulk Fuel Facilites
      = map_layer_checkbox(id: 'bulk-fuel-facilities-points', label: 'Bulk Fuel Facilities', path_args: [:bulk_fuel_facilities, @community, :maps]) if @community.bulk_fuel_facilities?
      / Map Layer: Boroughs/Census Areas
      = map_layer_checkbox(id: 'boroughs', label: @community.borough.is_census_area? ? 'Census Area' : 'Borough', path_args: [:boroughs, @community, :maps]) if @community.borough?

    .h-100.w-100{ data: { maps_target: "map" } }
