- tab = 'demographics'
- links = [ |
    { title: 'Population', anchor: '#population', icon: 'people-fill', show: @community.population_age_sexes? }, |
    { title: 'Employment', anchor: '#employment', icon: 'briefcase-fill', show: @community.employment? }, |
  ] |

= turbo_frame_tag "community_tab_content" do
  = render 'shared/tab_nav', links: links
  
  .scrollspy-container{ data: { controller: "scrollspy", bs_spy: "scroll", bs_target: "#jump-nav", bs_smooth_scroll: "true" }, tabindex: "0" }
    - if @community.population_age_sexes?
      #population.scroll-section.mb-5
        = render 'shared/section_header',
          icon: 'people-fill',
          title: 'Population',
          description: 'Population estimates including age and sex',
          anchor: '#population',
          related_metadata: ["public_populations_ages_sexes"],
          about_modal_id: 'populationAboutModal' # this id must match the id in the sections about_modal partial
        
        = render "communities/#{tab}/population/about_modal"
        
        = render "communities/#{tab}/population"
        
    - if @community.employment?
      #employment.scroll-sectionmb-5
        = render 'shared/section_header',
          icon: 'briefcase-fill',
          title: 'Employment',
          description: 'Employment status',
          anchor: '#employment',
          related_metadata: ["public_employment"]
        
        = render "communities/#{tab}/employment"
    
