- tab = 'electric_rates_sales'
- links = [ |
    { title: 'Rates', anchor: '#rates', icon: 'coin', show: @community.show_rates? }, |
    { title: 'Sales', anchor: '#sales', icon: 'cash-coin', show: @community.show_sales? }, |
  ] |

= turbo_frame_tag "community_tab_content" do
  = render 'shared/tab_nav', links: links
  
  - if @community.show_rates?
    #rates.scroll-section.mb-5
      = render "communities/#{tab}/rates"
  - if @community.show_sales?
    #sales.scroll-section.mb-5
      = render "communities/#{tab}/sales"
