- tab = 'electric_rates_sales'
- links = [ |
    { title: 'Rates', anchor: '#rates', icon: 'coin', show: @community.show_rates? }, |
    { title: 'Consumption', anchor: '#consumption', icon: 'lightning-charge', show: @community.show_sales? }, |
    { title: 'Revenue', anchor: '#revenue', icon: 'cash-coin', show: @community.show_revenue? }, |
    { title: 'Customers', anchor: '#customers', icon: 'people', show: @community.show_customers? } |
  ] |

= turbo_frame_tag "community_tab_content" do
  = render 'shared/tab_nav', links: links
  
  .scrollspy-container{ data: { controller: "scrollspy", bs_spy: "scroll", bs_target: "#jump_nav", bs_smooth_scroll: "true" }, tabindex: "0" }
    
    - if @community.show_rates?
      #rates.scroll-section.mb-5
        = render 'shared/section_header',
          icon: 'coin',
          title: 'Rates',
          description: 'Residential, commercial, and industrial electric rate trends',
          anchor: '#rates',
          related_metadata: ["public_rates"]

        = render "communities/#{tab}/rates"

    - if @community.show_sales?
      #consumption.scroll-section.mb-5
        = render 'shared/section_header',
          icon: 'lightning-charge',
          title: 'Consumption',
          description: 'Total energy sales and consumption rates',
          anchor: '#consumption'
          
        = render "communities/#{tab}/consumption"
        
    - if @community.show_revenue?
      #revenue.scroll-section.mb-5
        = render 'shared/section_header',
          icon: 'cash-coin',
          title: 'Revenue',
          description: 'Revenue analysis',
          anchor: '#revenue'
          
        = render "communities/#{tab}/revenue"

    - if @community.show_customers?
      #customers.scroll-section.mb-5
        = render 'shared/section_header',
          icon: 'people',
          title: 'Customers',
          description: 'Customer analysis',
          anchor: '#customers'
          
        = render "communities/#{tab}/customers"