- tab = 'fuel'
- links = [ |
    { title: 'Fuel Prices', anchor: '#fuel-prices', icon: 'coin', show: @community.show_fuel_prices? }, |
    { title: 'Bulk Fuel', anchor: '#bulk-fuel-facilities', icon: 'fuel-pump', show: @community.show_bulk_fuel_facilities? }, |
  ] |
  
= turbo_frame_tag "community_tab_content" do
  = render 'shared/tab_nav', links: links
  .scrollspy-container{ data: { controller: "scrollspy", bs_spy: "scroll", bs_target: "#jump_nav", bs_smooth_scroll: "true" }, tabindex: "0" }
    - if @community.show_fuel_prices?
      #fuel-prices.scroll-section.mb-5
        = render 'shared/section_header',
          icon: 'fuel-pump',
          title: 'Fuel Prices',
          description: 'Current and historical price trends for heating fuel and gasoline',
          anchor: "#fuel-prices"
        
        = render "communities/#{tab}/fuel_prices"
    
    - if @community.show_bulk_fuel_facilities?
      #bulk-fuel-facilities.scroll-section.mb-5
        = render 'shared/section_header',
          icon: 'fuel-pump',
          title: 'Bulk Fuel Facilities',
          description: 'Fuel storage capacity, delivery methods, and infrastructure detail',
          anchor: "#bulk-fuel-facilities"
        
        = render "communities/#{tab}/bulk_fuel_facilities"