.container-fluid.p-3.mt-n3.mt-sm-n5
  .row
    .col-md-3
      .position-sticky.top-0.py-3
        .card.mb-4
          .card-body.text-center
            .mb-3
              = render "dropdown", communities: @communities, current_community: @community 
            %h4.fw-4= @borough.name

        .d-grid.gap-2
          -# %button.btn.btn-primary
          -#   %i.bi.bi-download
          -#   Download/Print

          = link_to communities_path, class: 'btn btn-secondary' do 
            %i.bi.bi-arrow-left
            Back

        %h4.mt-3 Quick Nav
        = render "communities/sections/quick_nav", community: @community

    .col-md-9
      .text-center.my-3
        %p.text-muted.fw-medium.mb-1.fs-6.text-uppercase Community Summary

        %h1.fw-bold.d-flex.justify-content-center.align-items-center.flex-wrap.gap-2
          %i.bi.bi-geo-alt-fill.text-primary
          = @community.name

        %h4.fw-semibold.text-secondary.mt-2
          = @borough.name
          - if @community.grid.present?
            %span.text-muted.fs-4.mx-2 &bull;
            %span.text-info= @community.grid.name

      - section_order = ["electricity", "fuel_prices", "background"]

      - section_order.each do |section|
        - section_id = "#{section.parameterize}-section"

        %button.collapse-btn.border-0.mb-1{ 
          type: "button", 
          data: { bs_toggle: "collapse", bs_target: "##{section_id}" }, 
          aria: { expanded: "true", controls: section_id }
        }
          %i.bi.bi-chevron-down.ms-2.arrow-icon
          %h3.m-0= section.titleize

        .collapse.show.p-1{ id: section_id }
          = render "communities/sections/#{section}", community: @community 
        
        %hr/