.container.py-4
  .row
    %p#notice= notice
  .row.d-flex.justify-content-between
    .col
      = link_to 'Back', communities_path, class: 'btn btn-primary'
    .col.text-center
      %h1 Community Summary
    .col.text-end
      %button.btn.btn-primary
        Download/Print

  .row.align-items-center
    .col.text-center.py-5.my-4.community-dropdown-card
      %h2=@community.name
      %p.lead=@borough.name
      = render partial: "dropdown", locals: { communities: @communities, current_community: @community }
  .row
    .col

- section_order = ["quick_nav", "electricity", "fuel_prices", "background", "related_datasets"]

.container
  - section_order.each do |section|
    - section_id = "#{section.parameterize}-section"

    .d-flex.align-items-center 
      %button.collapse-btn.border-0.text-start.me-3{ 
        type: "button", 
        data: { bs_toggle: "collapse", bs_target: "##{section_id}" }, 
        aria: { expanded: "true", controls: section_id }
      }
        %i.bi.bi-chevron-down.ms-2.arrow-icon
        %h3.m-0= section.titleize
 
    %div.collapse.show{ id: section_id }
      .row.my-4.g-4
        = render "communities/sections/#{section}", community: @community 
    %hr/
