.container-fluid.p-3.mt-n3.mt-sm-n5     
  .row
    .col-md-3
      .position-sticky.top-0.py-3
        .bg-body-secondary.rounded-4.p-4.mb-4.text-center
          %h5.fw-semibold.mb-3 Select a Community
          = render "dropdown", communities: @communities, current_community: @community

        .d-grid.gap-2
          -# TODO: Uncomment when the download/print functionality is implemented
          -# %button.btn.btn-aedg-primary.px-4.py-2 
          -#   %i.bi.bi-file-earmark-arrow-down.me-1
          -#   Download Summary

          = link_to communities_path, class: 'btn btn-secondary' do 
            %i.bi.bi-arrow-left
            Back
        .mt-5
          = render 'communities/sections/quick_nav', community: @community

    .col-md-9
      .text-center.my-3
        %p.text-muted.fw-medium.mb-1.fs-6.text-uppercase Community Summary

        %h1.fw-bold.d-flex.justify-content-center.align-items-center.flex-wrap.gap-2
          %i.bi.bi-geo-alt-fill.text-primary
          = @community.name

        %h4.fw-semibold.text-secondary.mt-2
          = @borough.name
          - if @community.grid.present?
            %span.text-muted.fs-4.mx-2 &bull;
            %span.text-info= @community.grid.name

      - section_order = []
      - section_order << 'electricity' if @community.show_electricity_section?
      - section_order << 'prices' if @community.show_prices_section?
      - section_order << 'background' if @community.show_background_section?

      - section_order.each do |section|
        - section_id = "#{section.parameterize}-section"

        %button.collapse-btn.border-0.mb-1{ 
          id: section.parameterize,
          type: 'button', 
          data: { bs_toggle: 'collapse', bs_target: "##{section_id}" }, 
          aria: { expanded: 'true', controls: section_id }
        }
          %i.bi.bi-chevron-down.ms-2.arrow-icon
          %h3.m-0= section.titleize

        .collapse.show.p-1{ id: section_id }
          = render "communities/sections/#{section}", community: @community 
        
        %hr/