%div{ data: { controller: 'datatables', datatables: { order_value: [5, 'desc'] } }} 
  %table.table.table-sm.table-striped.border
    %thead
      %tr
        %th Reporting Entity
        %th Customer Type
        %th Customers 
        %th Sales (MWh)
        %th Revenue
        %th Year
    %tbody
      - @community.sales.includes(:reporting_entity).order(year: :desc).each do |sale|
        - rows = []
        - rows << { label: 'Total',       customers: sale.total_customers,       sales: sale.total_sales,       revenue: sale.total_revenue }
        - rows << { label: 'Residential', customers: sale.residential_customers, sales: sale.residential_sales, revenue: sale.residential_revenue }
        - rows << { label: 'Commercial',  customers: sale.commercial_customers,  sales: sale.commercial_sales,  revenue: sale.commercial_revenue }

        - rows.each do |row|
          %tr
            %td= sale.reporting_entity.name
            %td= row[:label]
            %td= number_with_delimiter(row[:customers])|| '-'
            %td= number_with_delimiter(row[:sales])|| '-'
            %td= number_to_currency(row[:revenue], precision: 0)|| '-'
            %td= sale.year