.d-flex.flex-column.position-sticky{ style: "top: 60px; height: calc(100vh - 60px);" }
  .flex-grow-1.d-flex.flex-column#mapbox-area
    .d-flex.align-items-center
      / --- Floating controls ---
      .position-absolute.top-0.end-0.bg-white.border.rounded-3.shadow-sm.m-2.p-3{ style: "z-index:5;" }
        .fw-semibold.small.mb-2.text-center.border-bottom.pb-1 Select a Map Layer
        
        / Map Layer: Boundary
        = map_layer_checkbox(id: @parent.boundary_map_layer, label: "#{@parents.model_name.human.titleize} Boundary", path_args: [:boundary, @parent, :maps]) if @parent.boundary?
        / Map Layer: Communities
        = map_layer_checkbox(id: 'layer-communities', label: 'Communities', path_args: [:community_locations, @parent, :maps])
        / Map Layer: Utility Service Area
        = map_layer_checkbox(id: 'layer-service-area-utility', label: "Utility Service Area".pluralize(@parent.service_areas.distinct.count), path_args: [:service_areas, @parent, :maps]) if @parent.service_areas?
        / Map Layer: Local Service Area
        = map_layer_checkbox(id: 'layer-service-area-local', label: 'Local Service Area'.pluralize(@parent.service_areas.distinct.count), path_args: [:service_area_geoms, @parent, :maps]) if @parent.local_service_area?
        / Map Layer: Plants
        = map_layer_checkbox(id: 'layer-plants', label: 'Power Plants', path_args: [:plants, @parent, :maps]) if @parent.plants?
        
        / Map Layer: Bulk Fuel Facilities
        /= map_layer_checkbox(id: 'layer-bulk-fuel-facilities', label: 'Bulk Fuel Facilities', path_args: [:bulk_fuel_facilities, @parent, :maps]) if @parent.bulk_fuel_facilities?

    .flex-grow-1.position-relative
      .h-100{ data: { maps_target: "map" } }
