= form_with url: request.path, method: :get, data: { turbo_frame: "fuel_prices_chart" } do
  %label{ for: "price_type_select" } Select Price Type:
  = select_tag :price_type,
    options_for_select(["Survey", "Regional"], params[:price_type] || "Survey"),
    onchange: "this.form.requestSubmit();"

%turbo-frame#fuel_prices_chart
  = column_chart fuel_prices_by_season_chart_data(@community.fuel_prices, price_type: params[:price_type] || "Survey"),
    colors: ["#6BAED6", "#08519C", "#74C476", "#006D2C"],
    title: "Fuel Types and Prices by Year and Season (#{params[:price_type] || 'Survey'})",
    xtitle: "Year",
    ytitle: "Price (USD)",
    prefix: "$",
    download: {filename: "#{@community.name.parameterize}_fuel_prices", format:   "png"}
