- many = @available_price_types.size > 1

= form_with url: request.path, method: :get, data: { turbo_frame: "fuel_prices_chart" } do
  - if many
    %label{ for: "price_type" } Select Price Type:
    = select_tag :price_type,
      options_for_select(@available_price_types, @selected_price_type),
      id: "price_type",
      class: "form-select form-select-sm",
      onchange: "this.form.requestSubmit();"

%turbo-frame#fuel_prices_chart
  = column_chart fuel_prices_community_charts_path( @community, price_type: @selected_price_type),
      title:    "#{@community.name} - Seasonal Fuel Prices (#{@selected_price_type})",
      legend:   "bottom",
      download: { filename: "#{@community.name.parameterize}_fuel_prices", format: "png" },
      library: { plugins: { legend: { title: { display: true, text: 'Click on a source to hide/show', font: { size: 12, weight: 'bold' }, padding: { top: 20, bottom: 10 } } }, tooltip: { mode: 'index', intersect: false } }, scales: { y: { type: "linear", display: "auto", position: "left", title: { display: true, text: "$ Price (USD)" } }, y1: { type: "linear", display: "auto", position: "right", title: { display: true, text: "Heating Degree Days" } } } }
      