- many = @available_price_types.size > 1

= form_with url: request.path, method: :get, data: { turbo_frame: "fuel_prices_chart" } do
  - if many
    %label{ for: "price_type" } Select Price Type:
    = select_tag :price_type,
      options_for_select(@available_price_types, @selected_price_type),
      id: "price_type",
      class: "form-select form-select-sm",
      onchange: "this.form.requestSubmit();"

%turbo-frame#fuel_prices_chart
  = column_chart fuel_prices_community_charts_path( @community, price_type: @selected_price_type),
      colors:   ["#6BAED6", "#08519C", "#74C476", "#006D2C", "#FF7F0E"],
      title:    "Fuel Types and Prices by Year and Season (#{@selected_price_type})",
      download: { filename: "#{@community.name.parameterize}_fuel_prices", format: "png" },
      library: { scales: { y: { type: "linear", prefix: "$", position: "left", title: { display: true, text: "$ Price (USD)" } }, y1: { type: "linear", position: "right", title: { display: true, text: "Heating Degree Days" } } } }
      