!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:title) ? "AEDG - #{yield(:title)}" : "AEDG - Alaska Energy Data Gateway"
    = favicon_link_tag 'favicon/favicon-light-mode.png', media: '(prefers-color-scheme: light)'
    = favicon_link_tag 'favicon/favicon-dark-mode.png', media: '(prefers-color-scheme: dark)'   
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    - unless Rails.env.production?
      %meta{name: "robots", content: "noindex, nofollow"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    %link{rel: 'stylesheet', href: 'https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css' }
  %body.d-flex.flex-column.min-vh-100
    = render 'shared/header'
    .flex-grow-1
      = yield
    = render 'shared/footer'
