- content_for :hide_global_footer, "true"
- content_for :title, page_title(@communities, @community)
- content_for :content do

  .dashboard-viewport
    -# Main Toolbar
    = render "shared/toolbar",
      entity: @community,
      collection: @communities,
      tabs: community_navigation_tabs(@community),
      target_frame: "community_tab_content"

    .split-wrapper{ data: { controller: "split-layout" } }
      -# Map
      .d-none.d-lg-block.split-left{ data: mapbox_api_data({ maps_map_center_value: [@community.longitude, @community.latitude], maps_markers_value: [[@community.longitude, @community.latitude]], maps_marker_tooltip_title_value: @community.name }).merge({ split_layout_target: "left" }) }
        = render 'communities/map_sidebar'
      -# user moves to increase or decrease widths
      .split-gutter{ data: { split_layout_target: "gutter" } }
      -# right side content
      .split-right.d-flex.flex-column{ data: { split_layout_target: "right", controller: "scroll", action: "turbo:frame-render->scroll#scrollToTop" } }
        .flex-grow-1
          = turbo_frame_tag "community_tab_content" do
            = yield
        .mt-auto
          = render "shared/footer"

= render template: "layouts/application"
